<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- TITLE -->
    <title><% if (page.title){ %><%= page.title %> | <% } %><%= config.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700" rel="stylesheet" type="text/css">
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>

    <!-- CSS LIBRARY -->
    <% if (theme.favicon){ %>
      <link rel="icon" href="<%- theme.favicon %>">
    <% } %>
    <%- css('css/lib/font-awesome.min') %>
    <%- css('css/lib/font-hilltericon') %>
    <%- css('css/lib/font-awesome.min') %>
    <%- css('css/lib/bootstrap.min') %>
    <%- css('css/lib/owl.carousel') %>
    <%- css('css/lib/jquery-ui.min') %>
    <%- css('css/lib/magnific-popup') %>
    <%- css('css/lib/settings') %>
    <%- css('css/lib/bootstrap-select.min') %>

    <!-- MAIN STYLE -->
    <%- css('css/style') %>
    <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/livingston-css3-mediaqueries-js/1.0.0/css3-mediaqueries.js"></script>
    <![endif]-->
</head>
